@import 'color'

@font-face
    font-family: 'Uni Sans Heavy'
    src: url('../../static/uni_sans_heavy.otf')

*
    margin: 0
    padding: 0
    font-family: Montserrat, sans-serif
    scrollbar-color: $cyan $darkgray
    scrollbar-width: thin

html
    background-color: $darkgray
    color: $white

button, input, textarea
    outline: none
    border: none

    &::-moz-focus-inner
        border: 0

    &:focus
        outline: none
    

button
    background-color: transparent
    color: white
    cursor: pointer
    border-bottom: 1px solid transparent 

    &:hover
        border-bottom: 1px solid $cyan

::-webkit-scrollbar 
    width: 8px

::-webkit-scrollbar-thumb 
    background-color: $cyan
